
<h1>Hello</h1>


<button mat-raised-button color="primary" (click)="get()">Show me the table!</button>


<form [formGroup]="insertRow" (ngSubmit)="onAdd()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Number</mat-label>
        <input matInput type="number" formControlName="number">
    </mat-form-field>
    
    <button type="submit" mat-raised-button color="primary">Add</button>
</form>


<form [formGroup]="deleteRow" (ngSubmit)="onDelete()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Delete</button>
</form>


<ul>
    <li *ngFor="let row of table_data">
        {{row.name}}, {{row.number}}
    </li>
</ul>